@{
    ViewBag.Title = "Home Page";
}

<section class="welcome-area">
    <!-- Welcome Pattern -->
    <div class="welcome-pattern">
        <img src="~/Images/welcome-pattern.png" alt="">
    </div>

    <!-- Welcome Slide -->
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-7">
                            <div class="welcome-text mb-50">
                                <h2 data-animation="fadeInLeftBig" data-delay="200ms" data-duration="1s">Container Shipping</h2>
                                <h3 data-animation="fadeInLeftBig" data-delay="400ms" data-duration="1s">Starting at $100/container*</h3>
                                <p data-animation="fadeInLeftBig" data-delay="600ms" data-duration="1s">Guarantee transporting goods arrives in best condition!</p>
                                <a href="#" class="btn hami-btn btn-2" data-animation="fadeInLeftBig" data-delay="800ms" data-duration="1s">Get Start Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Thumbnail -->
            <div class="welcome-thumbnail">
                <img src="~/Images/1.png" alt="">
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-7">
                            <div class="welcome-text mb-50">
                                <h2 data-animation="fadeInUpBig" data-delay="200ms" data-duration="1s">Container Shipping</h2>
                                <h3 data-animation="fadeInUpBig" data-delay="400ms" data-duration="1s">Starting at $100/container*</h3>
                                <p data-animation="fadeInUpBig" data-delay="600ms" data-duration="1s">Guarantee transporting goods arrives in best condition!</p>
                                <a href="#" class="btn hami-btn btn-2" data-animation="fadeInUpBig" data-delay="800ms" data-duration="1s">Get Start Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Thumbnail -->
            <div class="welcome-thumbnail">
                <img src="~/Images/2.png" alt="">
            </div>
        </div>

    </div>

    <!-- Clouds -->
    <div class="clouds">
        <img src="~/Images/cloud-1.png" alt="" class="cloud-1">
        <img src="~/Images/cloud-2.png" alt="" class="cloud-2">
        <img src="~/Images/cloud-3.png" alt="" class="cloud-3">
        <img src="~/Images/cloud-4.png" alt="" class="cloud-4">
        <img src="~/Images/cloud-5.png" alt="" class="cloud-5">
    </div>
</section>